There are several ways to use gitignore git

specifying by the specific filename. for example, to ignore a file
called readme.txt, just need to write readme.txt in .gitignore file.
you can also write the name of the file extension. For example, to
ignore all .txt files, write *.txt.
you can also ignore a whole folder. for example you want to ignore
folder named test. Then just write test/ in the file.
just create a .gitignore file and write in whatever you want to ignore a sample gitignore file would be:

# NPM packages folder.
node_modules

# Build files
dist/

# lock files
yarn.lock
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Jest Coverage
coverage

.history/